<div class="flex min-h-full flex-col items-center justify-center py-12">
  <div
    class="min-w-[30%] px-8 py-4 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]"
  >
    <div class="flex flex-col justify-center sm:w-full sm:max-w-sm">
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight title"
      >
        Log In
      </h2>
    </div>

    <div class="mt-10 flex justify-center flex-col sm:w-full sm:max-w-sm">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6 mt-4">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Email address</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              formControlName="email"
              placeholder="Example@gmail.com"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rose-300 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Password</label
            >
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              formControlName="password"
              placeholder="8 characters at least"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rose-300 sm:text-sm sm:leading-6 login"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 submit-button"
          >
            Login
          </button>
        </div>
      </form>

      <p class="text-center text-sm text-gray-500 desc">
        You don't have an account?
        <span
          (click)="goToRegisterPage()"
          class="font-semibold leading-6 cursor-pointer"
          >Register</span
        >
      </p>
    </div>
  </div>
</div>
