.desc {
  margin-top: 1rem;
}

.title {
  color: var(--color-7);
}

.submit-button {
  background-color: var(--color-7);
  color: var(--color-1);
}

.submit-button:hover {
  background-color: var(--color-6);
}

span {
  color: var(--color-7);
}
